.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  row-gap: 50px;
}

.container > div{
  height: 270px;
}

.img_div{
  width: 100%;
  height: 95%;
}

.info{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 20%;
}

.info > p{
  font-size: 0.9rem;
  margin-top: 3px;
}

.img_div > img{
  width: 100%;
  height: 100%;
}