.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  row-gap: 20px;
}

.container > div{
  height: 250px;
}

.img_div{
  width: 100%;
  height: 90%;
}

.info{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 20%;
}

.info > p{
  font-size: 0.9rem;
}

.img_div > img{
  width: 100%;
  height: 100%;
}