.table{
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.table tr, .table td{
  border: 1px solid #dddddd;
  padding: 8px;
  vertical-align: middle;
}


.table thead > tr{
 border-bottom: 2.5px solid #8fa0ec;
}

.img_div{
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
