.container > div:first-child{
  margin-bottom: 40px;
}

table{
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.table tr, .table td{
  border-right: 1px solid #eeeeee;
  padding: 8px;
}

.table thead td:nth-child(6)
, table tbody td:nth-child(6){
  border-right: 1px solid white;
}

.search{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search > input:nth-child(4){
  margin-right: 10px;
}

.table > p{
  margin-top: 20px;
}

.table thead > tr{
 border-bottom: 2.5px solid #8fa0ec;
}

.table tbody > tr:nth-child(even){
  background-color: #eef0f8;
}

.table tbody{
  font-size: 0.93rem;
}

.table tbody > tr:hover{
  background-color: #d7dbec;
  cursor: pointer;
}

.date_div{
  display: flex;
  gap: 5px;
}
.date_div > input{
  text-align: center;
}