
.cart_list_table{
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.cart_list_table td{
  border: 1px solid black;
  padding: 5px;
  vertical-align: middle;
}

.item_info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.cnt_div{
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
}

.buy_div{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  gap: 12px;
}