.container{
  width: 800px;
}

table{
  width: 100%;
  text-align: center;
}

.table tr, .table td{
  border: 1px solid black;
  padding: 5px;
  vertical-align: middle;
}

table td:nth-child(3){
  width: 20%;
}


.img_div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.img_div > div:first-child{
  width: 50px;
  height: 70px;
}

img{
  object-fit: cover;
  width: 100%;
}

.cnt_div{
  display: flex;
  gap: 10px;
}

.cnt_div > input{
  width: 70px;
}

.buy{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}