.container > div{
  margin-bottom: 8px;
}

.container p{
  margin-bottom: 3px;
}

.container > button{
  margin-top: 10px;
}

.id_div{
  display: flex;
  gap: 8px;
}

.tel_input{
  display: flex;
  gap: 8px;
}

.email_div{
  display: flex;
  gap: 8px;
}

.addr_div{
  display: flex;
  gap: 8px;
  margin-bottom: 5px;
}