.login_div{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.login_input{
  position: relative;
}

.login_input > span{
  position: absolute;
  top: 2px;
  left: 6px;
  color: #777777;
}

.login_input > input{
  padding-left: 30px;
}