.d1{
  border: 1px solid black;
  /* 안쪽 여백 (상하좌우) */
  padding: 20px;
}
.d2{
  border: 1px solid black;
  /* 20px, 50px = 상하, 좌우 */
  padding: 20px 50px;
}
.d3{
  border: 1px solid black;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.d4{
  border: 1px solid black;
  margin: 20px;
  margin: 20px 50px;
  /* 중첩되는 내용이 있으면 가장 밑에 있는 수식이 적용됨 */
  margin-left: 100px;
}

.d5{
  border: 1px solid black;
  padding: 30px;
  margin: 50px;
}