.icon{
  position: fixed;
  bottom: 30px;
  right: 30px;

  color: blue;
  font-size: 1.5rem;

  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;  /* 행간 높이 */
  /* height 속성과 ilne-height 속성의 값이 같으면 세로 기준 가운데 정렬이 됨(야매니까 비추천) */
}