.container{
  border: 1px solid black;
  width: 600px;
  height: 400px;
  margin: 30px;

  display: grid;
  /* grid-template-columns: 100px 200px 150px; */
  /* grid-template-columns: 20% 30% 40%; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  /* fr : 프레임 (배율의 느낌 2fr 1fr 3fr 2:1:3 */
  grid-template-columns: repeat(3, 100px);
  /* repeat : 똑같은 거 반복 사용 100px 3번 반복 / px뿐만 아니라 %, fr도 사용 가능 */

  grid-template-rows: repeat(3,100px);

  gap: 10px;

  /* 세로 정렬 */
  align-content: center;

  /* 가로 정렬 */
  justify-content: center;

  /* 아이템 안에서의 세로 정렬 */
  align-items: center;
  justify-items: center;
}

.item{
  border: 1px solid red;
}
.i{
  align-self: stretch;
}
