/* img{
  position: absolute;
}
span{
  color: red;
  font-size: 2rem;
  position: relative;
  left: 730px;
  top: 35px;
  z-index: 3;
} */

.img-div{
  position: relative;
  width: 800px;
}
img{
  width: 100%;
}
.heart{
  position: absolute;
  top: 30px;
  right: 30px;
}
