.menu > ul{
  display: flex;
  padding: 5px;
  color: white;
  width: 400px;
  margin: auto;
  background-color: black;
}

.menu li{
  padding: 8px;
  margin: auto;
}

.menu1{
  display: flex;
  width: 400px;
  margin: auto;
  padding: 5px;
  background-color: lightgray;
  justify-content: center;
  opacity: ;
}

.m1{
  display: flex;
  flex-direction: column;
}
.m1:hover{
  background-color: blue;

}

.m2{
  display: flex;
  flex-direction: column;
}

.m3{
   display: flex;
  flex-direction: column;
}

.m4{
   display: flex;
  flex-direction: column;
}