.container{
  margin: 20px auto;
  width: 1200px;
}

.menu{
  display: flex;
  justify-content: space-between;
  background-color: #0c51a6;
  padding: 15px 0px;
  padding-left: 25px;
  color: white;
  align-items: center;
}
.menu > div:nth-child(2){
  display: flex;
  background-color: #0a4288;
  justify-content: space-evenly;
  width: 45%;
  font-size: 0.9rem;
}
.menu div{
padding: 8px;
}

.booking{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}

.booking > div{
  width: 100%;
  height: 200px;
}


.img-all{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.intro{
  position: relative;
  width: 100%;
  height: 300px;
}

.intro-1{
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.table{
  background-color: #e5f1ff;
  padding: 20px;
  
}

.table td{
  width: 100%;
  padding: 6px 0px;
}

.banner{
  position: relative;
  height: 200px;
  color: white;
}

.banner-1{
  position: absolute;
  top: 40%;
  left: 20%;
  text-align: center;
}

.banner-1 > span{
  background-color: rgb(0, 0, 0, 0.4);
  padding: 7px 20px;
  border-radius: 20px;
}

.last{
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  padding: 20px;
  align-items: center;
}
.last > h2{
  width: 20%;
  color: gray;

}

.last > div{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.last > div >div:first-child{
  display: flex;
  width: 80%;
  justify-content: center;
}

.last p{
  padding: 0px 5px;
  margin-bottom: 8px;
}

