.container1{
  width: 800px;
  height: 350px;
  margin: 20px auto;
  border: 1px solid #dddddd;
  padding: 30px 20px;
  border-radius: 8px;
}

.all{
display: flex;
height: 85%;
}

.container2{
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding: 3px 10px;
  font-weight: bold;
  margin: 10px 20px;
}
.input{
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.container3{
  flex-direction: column;

}

.btn{
  background-color: #f08080;
  width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.container3{
  width: 50%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  line-height: 1.7;
}
.btn2{
  width: 100%;
  height: 30px;
  border: none;
  color: white;
  background-color: lightskyblue;
  border-radius: 5px;
}

.call{
  text-align: center;
  color: green;  
  font-size: 0.9rem;
}




/* 함께하기 */

.container{
  width: 800px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin: 50px auto;
  /* 
    box-shadow : 그림자

    1 : 수평방향 그림자 생성
        양수입력-> 그림자가 우측으로 이동
        음수입력-> 그림자가 좌측으로 이동

    2 : 수평방향 그림자 생성
        양수입력-> 그림자가 아래로 이동
        음수입력-> 그림자가 위로 이동

    3 : 그림자의 블러처리, 숫자가 커질수록 그림자가 흐려진다

    4 : 그림자의 크기
    
    5 : 그림자의 색
  */
  box-shadow: 1px 1px 6px 1px #dddddd;
}

.content, .left, .right{
  border-radius: 5px;
}

.content{
  display: flex;
}

.left{
  width: 50%;
  padding: 8px;
  background: #eeeeee;
  margin: 16px;
}

.left > div{
margin-bottom: 10px;
}

.right{
  width: 50%;
  padding: 8px;
  margin: 16px;
}

input[type="text"], input[type="password"]{
  width: 100%;
}
/* input 태그 중 type 속성이 checkbox인 것만 제외 */
/* input 태그는 border 밖에 outline이라는 두 번째 테두리가 존재 */
input:not([type="checkbox"]){
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid blueviolet;
  /* outline: none;  input태그는 이 속성이 기본값으로 적용됨 */
}

/* border는 줄에 영향 주고 outline은 border 위에 그냥 겹쳐지는 거라 눌렀을 때 진해지게 하고 싶으면 outline 사용하기 */

/* 
클릭 시 border의 두께를 변경하면 크기가 변경되어 화면이 깨진다.
클릭 시 테두리에 변화를 주려면 outline을 사용한다. */
input:not([type="checkbox"]):focus{
  outline: 1px solid blueviolet;;
}

.login-btn{
  background-color: #f08080;
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: white;
}

.login-btn:hover{
  cursor: pointer;
  background-color: rgb(235, 123, 123);
}

.login-btn:active{
  position: relative;
  top: 2px;
  left: 2px;
}

ul span{
  color: lightgreen;
}

.detail{
  background-color: skyblue;
  color: white;
  text-align: center;
  padding: 6px 0px;
  border-radius: 4px;
}

.detail:hover{
cursor: pointer;
background-color: rgb(125, 196, 225);
}

.right p{
  text-align: center;
  color: green;
  font-size: 0.9rem;
}