div{
  border: 2px solid black;
}
.container1{
  width: 700px;
  height: 400px;
  margin: 30px auto;
}

.container2{
  height: 15%;
}

.container3{
  height: 85%;
}
.container3{
  display: flex;
}
.container3 > div:nth-child(1){
  width: 55%;
}
.container3 > div:nth-child(2){
  width: 45%;
}

.container4{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container4 > div{
  height: 100%;
}

