*{
  box-sizing: border-box;
}
.container{
width: 300px;
margin: auto;
border-radius: 3px;
}
.m1{
  margin: 60px 0px;
}
.m2{
  margin: 20px 0px;
}
.btn{
color: white;
text-align: center;
width: 100%;
background-color: rgb(97, 143, 230);
border: 1px solid rgb(97, 143, 230);
border-radius: 3px;
padding: 8px 8px;
}
.f{
  color: rgb(97, 143, 230);
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}
.input1{
width: 100%;
padding: 7px 7px;
margin-top: 4px;
margin-bottom: 12px;
}
.agree{
  text-align: left;
  font-size: 11px;
  margin: 15px 0px;
}
.input2{
width: 100%;
padding: 7px 7px;
margin-top: 4px;
}