*{
  box-sizing: border-box;
}
div{
  width: 500px;
  margin: auto;
  text-align: center;
}
table{
  background-color: lightgray;
  border: 1px solid gray;
  padding: 10px ;
  width: 300px;
}
.btn{
  background-color: black;
  color: white;
  width: 250px;
  height: 25px;
  margin: 2px;
}
.ro{
  border-radius: 15px;
  width: 250px;
  height: 25px;
  margin: 2px;
}
.ro2{
  border-radius: 5px;
}