.all{
  width: 700px;
  height: 500px;
  background-color: #caf4ff;
  margin: 20px auto;

}

.white{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.white > div{
  background-color: white;
  margin: 5px;
  display: flex;
  width: 40%;
  height: 60px;
  align-items: center;
  transition: all 0.4s;
  border-radius: 5px;
}

img{
width: 50px;
border-radius: 90%;
display: flex;
margin: 5px;
}

.white p:first-child{
  font-weight: bold;
}
.white p:last-of-type{
  color: darkgrey;
  font-size: 0.9rem;
}
.white> div > div:last-of-type{
  margin: 10px;
}

.white > div:hover{
  width: 45%;
  height: 70px;
}




/* 함께하기 */

body{
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 300px;
}

img{
  width: 70px;
  width: 20%;
  border: 1px solid #eeeeee;
  border-radius: 50%;
}

.info{
  display: flex;
  /* gap : flex 아이템들 사이에 여백을 줄 수 있다 */
  gap: 6px;
  align-items: center;
  padding: 8px;
  background-color: white;
  margin: 10px;
  border-radius: 8px;
  transition: all 0.5s;
}

.info > div{
  
}

.name{
  font-weight: bold;
}
.email{
  color: #888888;
  font-size: 0.8rem;
  margin-top: 4px;
}

.info:hover{
  /* scale 1배 : 원본크기 */
scale: 1.1;
}