*{
  box-sizing: border-box;
}
.container{
  margin: auto;
  width: 500px;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin: 5px 0px;
}
tr, td{
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}
h2{
  text-align: center;
}
.right{
  text-align: right;
  font-size: 0.8rem;
}
.left{
  font-size: 0.6rem;
  color: red;
}
.right2{
  text-align: right;
  margin: 10px 0px;
  font-size: 0.9rem;
}