.container{
  width: 1500px;
  margin: 30px auto;
}

.container td:first-of-type{
  background-color: #fbfafa;
  width: 12%;
  padding: 10px 15px;
}

table{
  border: 1px solid #e4e2e2;
  border-top: 3px solid #e4e2e2;
  width: 100%;
}
tr, td{
  border: 1px solid #e4e2e2;
}

table td{
  padding: 5px;
}
input{
  border: 1px solid #dddddd;
  padding: 3px;
}