.container{
  width: 1500px;
  margin: 30px auto;
}

.container td:first-of-type{
  background-color: #fbfafa;
  width: 12%;
  padding: 10px 15px;
}

table{
  border: 1px solid #e4e2e2;
}
tr, td{
  border: 1px solid #e4e2e2;
}

table td{
  display: table-cell; 
  padding: 8px 10px;
}

input{
  border: 1px solid #dddddd;
  padding: 3px;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.addr{
  display: flex;
  align-items: center;
  gap: 5px;
}

.addr > button{
  box-sizing: border-box;
}

h3{
  margin-top: 50px;
  margin-bottom: 10px;
}

.input-long{
  width: 350px;
  margin-top: 5px;
}

.input-short{
  width: 70px;
}