.container{
  width: 1500px;
  margin: 30px auto;
}

.container td:first-of-type{
  background-color: #fbfafa;
  width: 12%;
  padding: 10px 20px;
}

table{
  border: 1px solid #e4e2e2;
  border-top: 3px solid #d6d4d4;
  width: 100%;
}
tr, td{
  border: 1px solid #e0e0e0;
   padding: 8px 10px;
}

input, select{
  border: 1px solid #dddddd;
  padding: 5px;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.addr-div{
  display: flex;
  align-items: center;
  gap: 5px;
}

.addr-div > button{
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 3px;
  width: 90px;
}

.addr-div > button:hover{
  cursor: pointer;
}

button > span, i{
  vertical-align: middle;
}

button > i{
  font-size: 0.5rem; 
  margin-left: 3px; 
}

h3{
  margin-top: 60px;
  margin-bottom: 20px;
}

.input-long{
  width: 350px;
  margin-top: 5px;
}

.input-middle{
  width: 80px;
}

.input-short{
  width: 50px;
}

.tel-num, .phone-num{
  display: flex;
  border: none;
  gap: 3px;
}

.tel-num > select, .tel-num > input, 
.phone-num > select, .phone-num > input{
  width: 80px;
}

.red{
  color: red;
  vertical-align: middle;
  font-weight: 700;
}


