.menu{
  display: flex;
  justify-content: space-between;
  margin: auto 370px;
  padding: 30px;
}

.menu-btn{
  display: flex;
  gap: 30px;
  font-weight: 550;
  margin-left: 120px;
}

.menu-btn > a{
  text-decoration: none;
  color: black;
}

.menu-btn > li:hover, .menu-btn  li:hover{
  cursor: pointer;
  color: #f78e21;
}

.search{
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
}

.search > input{
  width: 300px;
  padding: 7px;
  border: 1px solid #e2e2e2;
}

.search > i{
  position: absolute;
  margin-right: 10px;
  color: #f78e21;
}

.search > i:hover{
  cursor: pointer;
}

.banner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > img{
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.banner > div{
  position: absolute;
  text-align: center;
}
.banner h1{
  color: #f78e21;
  font-weight: 400;
  font-size: 2.5rem;
}

.banner div{
  color: white;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.banner button{
  background-color: #f78e21;
  border: none;
  padding: 10px 45px;
  color: white;
  font-size: 1.1rem;
}

.banner button:hover{
  cursor: pointer;
}

.divider{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.divider > h1{
  font-weight: 400;
}

.circle-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  border: 17px solid #f78e21; 
  color: #f78e21; 
  border-radius: 50%; 
  padding: 20px;
  width: 120px;
  height: 120px;
  position: relative;
}

.icon{
  position: absolute;
  color: #f78e21;
  font-size: 1.6rem;
}

.icons-div{
  display: flex;
  justify-content: space-evenly;
  margin: auto 370px;
  margin-top: 50px;
}

.icons-div > div{
  width: 20%;
  text-align: center;
}

.icons-div h4{
  margin-top: 30px;
  margin-bottom: 10px;
}

.food-all{
  display: flex;
  margin: auto 370px;
  margin-bottom: 30px;
  justify-content: center;
  gap: 30px;
}

.food-img{
  position: relative;
  display: flex;
  align-items: end;
}
.food-img > div{
  position: absolute;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
}

.food-img > div > :first-of-type{
  color: white;
}

.food-img > div > p:hover{
  cursor: pointer;
}

.food-img > div > :nth-of-type(2){
  color: #f78e21;
}
