.container{
  width: 900px;
  margin: auto;
}
h2{
  background-color: #dc143c;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  padding: 3px;
  border-radius: 5px;
}
table{
  border: 1px solid #dddddd;
  text-align: center;
}
tr, td{
  border: 1px solid #dddddd;
  padding: 10px;
}
thead{
  background-color: #1e90ff;
  color: white;
  text-align: center;
  border-top: 3px solid black;
}
li{
  text-align: left;
}
