body{
  background-color: lightslategray;
}

.container{
  width: 80%;
  background-color: white;
  margin: 30px auto;
  padding: 16px;
}

.intro{
  text-align: center;
}

.intro > p:nth-child(1){
  background-color: lightpink;
  width: 150px;
  border-radius: 15px;
  padding: 6px 0px;
  color: white;
  margin: 0px auto;
}

.list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 500px);
  margin-top: 16px;
  gap: 10px;
}

.member{
  position: relative;
}

.list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.detail{
background-color: rgb(0, 0, 0, 0.5);
color: white;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
opacity: 0;
transition: all 0.5s;
}

/* 
이렇게 해도 가능
.member:hover .detail{
  opacity: 1;
} */

.detail:hover{
  opacity: 1;
}

.member span:hover{
color: lightskyblue;
cursor: pointer;
}
