.test7_container{
  margin: 20px;
}

.test7_container > div{
  width: 300px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-bottom: 10px;
}

.test7_container > :first-child{
  background-color: crimson;
}

.test7_container > :nth-child(2){
  background-color: skyblue;
}