<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_student.mapper.StuMapper">
    <resultMap id="classInfo" type="com.green.backend_student.dto.ClassDTO">
        <id     column="CLASS_NUM"  property="classNum"/>
        <result column="CLASS_NAME" property="className"/>
    </resultMap>

    <resultMap id="student" type="com.green.backend_student.dto.StuDTO">
        <id     column="STU_NUM" property="stuNum"/>
        <result column="STU_NAME" property="stuName"/>
        <result column="STU_AGE" property="stuAge"/>
        <result column="CLASS_NUM" property="classNum"/>
    </resultMap>

    <!--학급 목록 조회-->
    <select id="selectClassList" resultMap="classInfo">
        SELECT CLASS_NUM
            , CLASS_NAME
        FROM CLASS_INFO
        ORDER BY CLASS_NUM
    </select>

    <!--학생 정보 조회-->
    <select id="selectStuList" resultMap="student">
        SELECT STU_NUM
            , STU_NAME
            , STU_AGE
            , CLASS_NUM
        FROM STUDENT_INFO
    </select>

    <!--반에 따른 학생 정보 조회-->
    <select id="selectStuListClass" resultMap="student">
        SELECT STU_NUM
            , STU_NAME
            , STU_AGE
            , S.CLASS_NUM
        FROM STUDENT_INFO S INNER JOIN CLASS_INFO C
        ON S.CLASS_NUM = C.CLASS_NUM
        WHERE S.CLASS_NUM = #{classNum}

    </select>

    <!--모든 데이터 조회-->
<!--    <select id="getStuInfo">-->
<!--        SELECT CLASS_NUM-->
<!--            , CLASS_NAME-->
<!--            , STU_NUM-->
<!--            , STU_NAME-->
<!--            , STU_AGE-->
<!--            , C.CLASS_NUM-->
<!--        FROM CLASS_INFO C INNER JOIN STUDENT_INFO S-->
<!--        ON C.CLASS_NUM = S.CLASS_NUM-->
<!--    </select>-->
	
</mapper>































