.reg_form_div{
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.reg_form_div > div:first-of-type{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px 0px;
}

.reg_form_div span{
  padding-right: 10px;
}

.btn{
  display: flex;
  justify-content: right;
}

.btn > button{
  margin: 5px 0px;
}


.table > table{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.table tr, .table td{
  border-bottom: 1px solid #eeeeee;
  padding: 8px;
}

.table thead > tr:first-of-type{
  border-bottom: 2px solid #bbbbbb;
  font-weight: 600;
}

.table tbody > tr:nth-of-type(even){
  background-color: #f5f5f5;
}

.error{
  color: red;
  font-size: 0.75rem;
}




