.reg_form_div{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.reg_form_div span{
  padding-right: 10px;
}

.table > table{
  width: 100%;
  text-align: center;
}

.table tr, .table td{
  border: 1px solid black;
}

.error{
  color: red;
  font-size: 0.8rem;
}