.container{
  width: 800px;
  margin: 0px auto;
}

.menu{
  margin-bottom: 40px;
  background-color: black;
}

.menu > ul{
  display: flex;
}

.menu li{
  width: 100%;
  padding: 8px;
  text-align: center;
}

a{
  color: #cccccc;
  text-decoration: none;
}

.active{
  color: white;
  border-bottom: 2px solid white;
  
}


.menu_li:hover a{
  color: white;
  border-bottom: 2px solid white;
}