.table > table{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.table tr, .table td{
  border-bottom: 1px solid #eeeeee;
  padding: 8px;
  vertical-align: middle;
}

.table thead > tr:first-of-type{
  border-bottom: 2px solid #bbbbbb;
  font-weight: 600;
}

.table tbody > tr:nth-of-type(even){
  background-color: #f5f5f5;
}

.table thead > tr:first-of-type > td:first-of-type{
  vertical-align: middle;
}

.table tbody > tr > td:nth-child(6)
  , table thead > tr:nth-child(2) > td:nth-child(5){
  border-left: 1px solid #dddddd;
}

