.container2{
  margin: 20px;
  width: 550px;
}

.table{
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.table tr > :nth-of-type(odd){
  background-color: rgb(231, 245, 231);
}

.btn_div{
  text-align: center;
}

.btn_div > button{
  margin: 0px 5px;
}