.container3{
  margin: 20px;
}

.container3 > select{
  width: 200px;
}

.item_name_div > input{
  width: 200px;
}

.item_price_div > input{
  width: 200px;
}

.container3 > textarea{
  width: 200px;
}

.container3 > p{
 margin-top: 10px;
}
