.container3{
  margin: 20px;
  width: 250px;
}

.container3 > p{
 margin-top: 10px;
}

.container3 select,
.container3 input[type="text"],
.container3 textarea{
  width: 100%;
}

.container3 textarea{
  resize: none;
  height: 80px;
}

.btn_div{
  text-align: right;
}

.not_valid{
  color: red;
  font-size: 0.7rem;
}
