.container{
  width: 1280px;
  border: 1px solid black;
  margin: 0 auto;
}

.header_div{
  height: 100px;
  border: 3px solid red;
}

.main{
  display: flex;
}

.side{
  width: 20%;
  border: 3px solid blue;
}

.content{
  width: 80%;
  border: 3px solid yellowgreen;
}