.container{
  width: 1280px;
  margin: 0 auto;
}

.header_div{
  height: 15vh;
  border: 3px solid red;
}

.main{
  display: flex;
  height: 85vh;
}

.side{
  width: 20%;
}

.content{
  width: 80%;
  border: 3px solid yellowgreen;
}