.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.container > div{
  height: 330px;
}

.img_div{
  height: 280px;
  border: 1px solid red;
}

.book{
  margin: 0px auto;
  text-align: center;
  border: 1px solid black;
}

.book > p:first{
  cursor: pointer;
}