.container{
  /* border: 1px solid black; */
  width: 35%;
}

.content{
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 5px 2px rgba(100, 100, 100, 0.3);
}

.content > div{
  margin-bottom: 10px;
}

.content > div:last-child{
  margin-bottom: 0px;
}

.content p{
  margin-bottom: 3px;
}