.container{
 margin: 30px;
}


.list-table{
  width: 400px;
  text-align: center;
}

.list-table > thead > tr{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: cornsilk;
}

.list-table > tbody > tr{
  border-bottom: 1px solid #eeeeee;
}
.list-table td{
  padding: 6px;
}

.list-table > tbody > tr:nth-child(even){
  background-color: #f5f5f5;
}

.list-table > tbody > tr:hover{
  background-color: #e9e9e9;
}
.title:hover{
  cursor: pointer;
  text-decoration: underline;
}