.btn{
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
  transition: all 0.3s;
}

.black{
  background-color: black;
}

.black:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.3);
  color: black;
}