.container{
  height: 100%;
}

.login_div{
  height: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.banner_div{
  height: 130px;
  position: relative;
}

.menu_div{
  height: 30px;
}

.banner_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 80%;
}

.banner_div > p{
  position: absolute;
  left: 100px;
  top: 34px;
  color: white;
  font-size: 2rem;
  letter-spacing: 10px;
}

.login_div > span:hover{
  cursor: pointer;
}

