.container{
  width: 650px;
  text-align: center;
  margin: 30px;
}

.container > table{
  border: 1px solid #cacacaf3;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  background-color: rgb(244, 245, 248);
}

.container thead{
  background-color: rgb(170, 189, 224);
  font-weight: 600;
}

.container > tr, td{
  border: 1px solid #cacacaf3;
  padding:  5px 10px;
}

.container tbody > :nth-of-type(even){
  background-color: rgb(227, 232, 245);
}

.container tbody > tr:hover{
  cursor: pointer;
  background-color: rgb(204, 211, 231);
}
