.container1{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 500px;
  margin: 10px auto;
}

tr, td{
  border: 1px solid black;
  padding: 5px;
}

.container2{
  border: 1px solid black;
  border-collapse: collapse;
  width: 500px;
  margin: 10px auto;
}

.container3{
  border: 1px solid black;
  border-collapse: collapse;
  width: 500px;
  margin: 10px auto;
}

.container4{
  border: 1px solid black;
  border-collapse: collapse;
  width: 500px;
  margin: 10px auto;
}