.detail_table{
  border: 1px solid black;
  width: 100%;
  margin: 15px 0px;
}

.detail_table tr, .detail_table td{
  border: 1px solid black;
  padding: 5px;
}

.btn_div{
  text-align: center;
}

.btn_div > button{
  margin: 0px 5px;
}