.title_div{
  text-align: center;
}

.detail_table{
  width: 100%;
  border: 1px solid black;
  margin: 15px 0px;
  text-align: center;
}

.detail_table tr, .detail_table td{
  border: 1px solid black;
  padding: 6px;
}

.btn_div{
  text-align: center;
}

.btn_div > button{
  margin: 0px 5px;
}

.detail_table input, .detail_table textarea{
  width: 100%;
}