.btn{
  color: white;
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: all 0.3s;
}

.seagreen{
  background-color: rgb(143, 180, 143);
}

.seagreen:hover{
  cursor: pointer;
  background-color: rgb(133, 163, 133);
}

.blue{
  background-color: #7cacd6;
}

.blue:hover{
  cursor: pointer;
  background-color: #739dc2;
}

.green{
  background-color: #a7c482;
}

.green:hover{
  cursor: pointer;
  background-color: #96b371;
}

.disabled{
  opacity: 0.5;
  cursor: default !important;
}

